<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PharmaCool.Properties.Settings.pcdbConnectionString"
            connectionString="Data Source=pharmacool.database.windows.net;Initial Catalog=pcdb;Persist Security Info=True;User ID=pharma;Password=pineapplepizza1!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>